:root {
  --bg-color: rebeccapurple;
}


*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  background-color: rebeccapurple;
  margin: 0;
  margin-inline: 1rem;
}

@container (width > 650px) {
  .card {
    grid-template-columns: auto minmax(25ch, 1fr);
  }

  .card h2 {
    grid-column: 1 / -1;
  }
}


.cards {
  container-type: inline-size;
  display: grid;
  gap: 1rem;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
  max-width: 900px;
}

.card {
  display: grid;
  gap: 1rem;
  background-color: whitesmoke;
  border-radius: 4px;
  padding-inline: 1rem;


  img {
    border-radius: 4px;
    margin-bottom: 1rem;
    width: 100%;
    min-width: 320px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  margin: 0;
}

p {
  text-wrap: pretty;
}

h1 {
  color: white;
  line-height: 1.5;
}